<a href="https://colab.research.google.com/github/paulmachau/-project-1/blob/main/Reviews_and_Rating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Replace 'rt.reviews.tsv' with the name of your TSV file
df = pd.read_csv('rt.reviews.tsv', delimiter='\t', encoding='ISO-8859-1')

# Display the contents of the file
df.head(10)

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
5,3,... Cronenberg's Cosmopolis expresses somethin...,NaN,fresh,Michelle Orange,0,Capital New York,"September 11, 2017"
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
8,3,"Cronenberg's cold, exacting precision and emot...",NaN,fresh,Sean Axmaker,0,Parallax View,"March 24, 2013"
9,3,Over and above its topical urgency or the bit ...,NaN,fresh,Kong Rithdee,0,Bangkok Post,"March 4, 2013"

In [2]:
#drop any colums that are not necessary
df = df.drop(['critic', 'top_critic', 'publisher'], axis=1)
df.head()

,id,review,rating,fresh,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,"October 12, 2017"

In [3]:
#convert the date column to date time data type
df['date'] = pd.to_datetime(df['date'], format='%B %d, %Y')
df.head()

,id,review,rating,fresh,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,2018-11-10
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,2018-05-23
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,2018-01-04
3,3,Continuing along a line introduced in last yea...,NaN,fresh,2017-11-16
4,3,... a perverse twist on neorealism...,NaN,fresh,2017-10-12

In [ ]:
#clean the rating column
df['rating'] = pd.to_numeric(df['rating'].str.replace(r'[^\d.]+', ''), errors='coerce')

<ipython-input-4-3ad2ee5a6e03>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['rating'] = pd.to_numeric(df['rating'].str.replace(r'[^\d.]+', ''), errors='coerce')

In [5]:
df.head()

,id,review,rating,fresh,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,2018-11-10
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,2013-07-17
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,2013-04-21
11,3,"While not one of Cronenberg's stronger films, ...",B-,fresh,2013-02-03
12,3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,2013-01-15

In [4]:
#drop any missing raws
df = df.dropna()
df.head()

,id,review,rating,fresh,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,2018-11-10
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,2013-07-17
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,2013-04-21
11,3,"While not one of Cronenberg's stronger films, ...",B-,fresh,2013-02-03
12,3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,2013-01-15

In [ ]:
# Convert the 'review' column to a numerical data type
df['review'] = pd.to_numeric(df['review'], errors='coerce')

# Calculate the correlation between the 'rating' and 'review' columns
corr = df['rating'].corr(df['review'], min_periods=1)

# Print the correlation coefficient
print("Correlation coefficient between 'rating' and 'review':", corr)

Correlation coefficient between 'rating' and 'review': nan

After testing the correlation between reviews and rating there was no correlation thats why we got the "NAN' output. where 'NAN' occurs if the correlation coefficient between the 'rating' and 'review' columns is NaN, it may indicate that there is no linear relationship between these variables in the dataset. It could also mean that the 'review' column contains missing or invalid values, which are being converted to NaN by the pd.to_numeric() function. In this case, we had dropped the missing values hence making sure the error doesnt occur.